.dropdown-content{
    width:150px;
    box-shadow: 0px 2px 8px 0px #0000003d;

    .dropdown-btn{
        display:flex;
        justify-content: space-around;
        align-items: center;
        .down-outlined{
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
    
}
